.switch {
    --gap: 0.25rem;
    --outline-thickness: 0.35rem;
    --switch-width: 3rem;
    --switch-height: 1rem;

    position: relative;
    background-color: transparent;
    outline: var(--outline-thickness) solid var(--color-accent);
    outline-offset: var(--gap);
    width: var(--switch-width);
    height: var(--switch-height);
    border-radius: 1000rem;

    &[data-checked="true"]::after {
        translate: calc(var(--switch-width) - var(--switch-height)) 0;
    }

    &[data-checked="false"]::after {
        translate: 0 0;
    }

    &::after {
        content: "";
        position: absolute;
        background-color: var(--color-primary);
        width: var(--switch-height);
        inset: 0;
        border-radius: 1000rem;
        transition: translate 150ms;
    }
}