.switch {
    --gap: 0.35rem;
    --outline-thickness: 0.35rem;
    --width: 3.5rem;
    --height: 1.5rem;

    position: relative;
    background-color: transparent;
    outline: var(--outline-thickness) solid var(--color-accent);
    width: var(--width);
    height: var(--height);
    border-radius: 1000rem;

    &[data-checked="true"]::after {
        translate: calc(100% + (var(--gap) * 2.5));
    }

    &[data-checked="false"]::after {
        translate: var(--gap);
    }

    &::after {
        content: "";
        position: absolute;
        background-color: var(--color-primary);
        width: calc(var(--height) - var(--gap));
        height: calc(var(--height) - var(--gap));
        inset: 0;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 1000rem;
        transition: translate 150ms;
    }
}